@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.profile-pic-figure {
  width: 35%;
}

.container {
  background-color: rgb(251, 210, 156);
  background-image: url(../img/map-2176x1451.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 95vh;
  border-bottom: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.496);
  background-position: top;
}

.h1 {
  font-size: 200%;
  margin-top: 10%;
  color: aliceblue;
  text-shadow: 2px 2px 5px;
  text-align: center;
  /* 
  padding: 0.25rem;
  border-radius: 7px; */
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100%;
  border: 5px double gray;
  border-radius: 50%;
}
.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid purple;
}

.example img {
  width: 25%;
  height: auto;
}
